/* loginPage.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/download.jpg'); /* Add the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

h2 {
    color: #fff; /* Set the text color */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #de97b4;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e1d0de;
}

.register-text {
    color: #fff;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}